  <p class="h5 mb-0 mb-3">
    <a href="{{ contact_info.href }}" class="text-secondary p-2 d-inline-block rounded transition-all-normal text-decoration-none bg-color-light bg-color-hover-primary-p1"><i class="fa fa-{{ contact_info.icon }} mr-3"></i>{{ contact_info.value }}</a>
  </p>