<ul>
{% for item in menu %}
	<li class="{{item.classes | join(' ')}}">
		<a href="{{item.get_link}}">{{item.title}}</a>
		{% if item.get_children %}
			{% include "menu.twig" with {'menu': item.get_children} %}
		{% endif %}
	</li>
{% endfor %}
</ul>
