<div class="header-image border-top border-bottom border-color-secondary">
  {% if is_front_page %}
    <div class="hero-front-page container-fluid h-100">
      <div class="row h-100 position-relative">
        <div class="col-sm-8 offset-sm-2">
          <div class="d-flex align-items-end align-items-center h-100">
            <div class="hero-animated w-100 text-color-secondary-p2">
              <h2 class="font-display-barlow text-center text-sm-right m-0 h3 font-weight-light text-uppercase animate__animated animate__fadeInLeft animate__delay-1s">Integrity</h2>
              <h2 class="font-display-barlow text-center text-sm-right m-0 h2 font-weight-normal text-uppercase animate__animated animate__fadeInLeft animate__delay-2s">Dedication</h2>
              <h2 class="font-display-barlow text-center text-sm-right m-0 h1 font-weight-bold text-uppercase animate__animated animate__fadeInLeft animate__delay-3s">Compassion</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>