{% extends "base.twig" %}

{% block content %}
	<form class="password-form" action="{{ function('site_url', 'wp-login.php', 'login_post') }}" method="post">
		<label for="pwbox-{{post.ID}}">Password:</label>
		<input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
		<input type="hidden" name="action" value="postpass" />
		<button class="btn" type="submit" name="Submit" />Submit</button>
	</form>
{% endblock %}
